<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hccnnet.reviewsys.IDao.eskMapper" >
  <resultMap id="BaseResultMap" type="com.hccnnet.reviewsys.domain.esk" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="arrive_time" property="arriveTime" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="accept_time" property="acceptTime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, arrive_time, code, content, result, accept_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from esk_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from esk_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hccnnet.reviewsys.domain.esk" >
    insert into esk_list (id, arrive_time, code, 
      content, result, accept_time, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{arriveTime,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{acceptTime,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hccnnet.reviewsys.domain.esk" >
    insert into esk_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="arriveTime != null" >
        arrive_time,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="acceptTime != null" >
        accept_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="arriveTime != null" >
        #{arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null" >
        #{acceptTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hccnnet.reviewsys.domain.esk" >
    update esk_list
    <set >
      <if test="arriveTime != null" >
        arrive_time = #{arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null" >
        accept_time = #{acceptTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hccnnet.reviewsys.domain.esk" >
    update esk_list
    set arrive_time = #{arriveTime,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      accept_time = #{acceptTime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from esk_list
    ORDER BY id desc
    LIMIT #{start},#{offset};
  </select>

  <select id="selectCount"  resultType="java.lang.Integer" >
    select count(id) from esk_list;
  </select>

  <select id="selectAllEskFilter" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from esk_list
    <where>
      1=1
      <if test="content != null and content !=''" >
        AND content like  CONCAT('%',#{content},'%')
      </if>
      <if test="code != null and code !=''" >
        AND code like CONCAT('%',#{code},'%')
      </if>
      <if test="result != null and result !=''" >
        AND result like CONCAT('%',#{result},'%')
      </if>
      ORDER BY id desc
      LIMIT #{start},#{offset}
    </where>

  </select>


</mapper>